html ,body{
    margin: 0;
    font-display:Helvetica,sans-serif ;
    color: white;
    font-size: 18px;
    background-color: black;


}

header{

 background:linear-gradient(to right , rgba(0, 0, 0, 0.9) , rgba(0, 0, 0, 0.05)) , url('../img/background.jpg');  
  height:100vh;
}

nav img{
    width: 160px;
    height: 45px;
    vertical-align: middle;
}

.logo{
    display:inline-block;
    line-height: 90px;
    margin-left: 15px;
}

.signin{
    color: aliceblue;
    float: right;
    background-color: red;
    font-display: bold;
    text-decoration: none;
    border-radius: 3%;
    margin-top: 20px;
    padding: 10px;

}

.home{
    margin: 0 4%;
    position: absolute;
    top: 30%;
    font-size: 1.8vw;
}

.home-title {
    font-size: 4rem;
    font-weight: 600;
}


.home-subtitle{
    font-size: 2rem;
    font-weight: 300;
}

.joinbtn{
    font-weight: 300;
    color: white;
    background-color: red;
    text-align: center;
    border: 0;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
    border-radius: 3px;

}

.joinbtn:hover{
    background-color: tomato;
    border-color: teal;
}